/** Prettify and center body **/
body {
	display: flex;
	flex-direction: column;
	height: 100vh;
	align-items: center;
	justify-content: center;
	font-family: 'Inter', sans-serif;
}


/** Customise our selection colour & background **/
::selection {
	color: #555; /* text colour */
	background: rgba(255,160,0); /* background colour */
}

.header {
	margin-bottom: 1em;
	font-weight: 700;
	font-size: 5em;
}
